
// Color Palette

$primary: #FF8A44;
$secondary:#00949C;
$clr3: rgb(51, 50, 50);
$clr4: rgb(141, 140, 140);
$clr5: rgb(199, 198, 198);
$clr6: #fff;

// Shaddows

$shadow-soft: 0 4px 4px 0 rgba(0,0,0,0.04), 0 6px 9px 0 rgba(0,0,0,0.04), 0 8px 27px 0 rgba(0,0,0,0.04);
$shadow-medium: 0 4px 4px 0 rgba(0,0,0,0.08), 0 6px 9px 0 rgba(0,0,0,0.08), 0 8px 27px 0 rgba(0,0,0,0.08);
$shadow-hard: 0 4px 4px 0 rgba(0,0,0,0.12), 0 6px 9px 0 rgba(0,0,0,0.12), 0 8px 27px 0 rgba(0,0,0,0.12);

// Breakpoints
 
$bp5-xl: 1180px;
$bp4-l: 960px;
$bp3-m: 870px;
$bp2-s: 640px;
$bp1-xs: 560px;
$bp0-xxs: 440px;
